html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(https://img.freepik.com/free-photo/green-field-tree-blue-skygreat-as-backgroundweb-banner-generative-ai_1258-153091.jpg);
    min-height: 100%;

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pimg2{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwgXVn5PozJNTCZTcKdk8Vnix1mMEhX8XTUA&usqp=CAU);
    min-height: 400px;
}
.pimg3{
    background-image: url(https://discovery.sndimg.com/content/dam/images/discovery/fullset/2022/4/29/GettyImages-1023165484.jpg.rend.hgtvcom.616.411.suffix/1651251910361.jpeg);
    min-height: 400px ;

}
.pimg4{
    background-image: url(https://www.freecodecamp.org/news/content/images/2020/08/0_hOa0fVvazQigNgB2.jpg);
    min-height: 100%;
}
.pimg1,.pimg2,.pimg3,.pimg4{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(2, 8, 2);
    font-size: 27px;
    letter-spacing: 9px;
    font-weight: 200;
    
}
.textbg{
    background-color: rgb(57, 57, 41);
    color: white;
    padding: 20px;
    border-radius: 20px;
}
.secondsec{
    padding: 50px 80px;
    text-align: center;


}
.second{
    background-color: aquamarine;
    color: blue;
}
.section2{
    background-color: rgb(35, 31, 31);
    color: bisque;
}
.section3{
    background-color: rgb(115, 120, 107);
    color: rgb(115, 44, 32);
}